<script>
	import successkid from 'images/successkid.jpg';
</script>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<h1 class="text-2xl my-3">Great success!</h1>

<figure class="max-w-2xl">
	<img alt="Success Kid" src="{successkid}">
	<figcaption class="my-3">Have fun with Sapper!</figcaption>
</figure>

<p class="my-3"><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p>
