<h1 class="text-green-500 font-bold mt-8 mb-3">Поиск пользователей по псевдониму:</h1>

<div>
  <input type="text" placeholder="Введите псевдоним..." bind:value={name} class="border-2 border-grey-500 rounded">
  <button class="text-white font-bold bg-purple-500 hover:bg-purple-800  ml-4 py-2 px-4 rounded" on:click={searchUser}>Поиск...</button>
</div>

<script>
import { createEventDispatcher } from 'svelte';

const dispatch = createEventDispatcher();

export let users;    
let name = '';
let someUsers;

const searchUser = () => {
  someUsers = users.filter(item => item.username.toLowerCase() == name.toLowerCase());
  dispatch('search', someUsers);
};
</script>