<script>
export let config;  
export let user;

$: fields = config.cardFields.map(field => {
  return {
    title: field.title,
    value: !field.items ? user[field.key] : field.items.map(item => `"${user[field.key][item]}"`)
  }
});  
</script>

<div class="my-3">
  {#each fields as field}
    <div><span class="text-purple-600">{field.title}: </span>{field.value}</div>
  {/each}
</div>