<script context="module">
	export async function preload() {
		try {
      //const res = await this.fetch(`https://jsonplaceholder.typicode.com/users`);
      const res = await this.fetch(`http://localhost:3333/users`);
      const users = await res.json();
      return {users}
    } catch (e) {
      this.error(e);
    }
	}
</script>

<script>
import UserCard from "../../components/UserCard.svelte";
import Search from "../../components/Search.svelte";
import config from '../../configs/fields';

export let users;

let newUsers;

const handleSearch = (event) => {
  newUsers = event.detail;
}

$: console.log('newUsers: ', newUsers);
</script>

<svelte:head>
  <title>Список пользователей</title>
</svelte:head>

<Search {users} on:search={handleSearch} />
{#if newUsers}
  {#if newUsers.length!==0}
    <h1 class="text-green-500 font-bold mt-5 mb-3">Результат поиска:</h1>
  {/if}  
  {#each newUsers as user}
    <UserCard {user} {config} />
  {/each}
{/if}

<h1 class="text-2xl font-bold mt-8 mb-3">Все пользователи: </h1>
{#each users as user}
  <UserCard {user} {config} />
{/each}
